{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb-base",
  "rules": {
    "semi": [2, "never"],
    "arrow-body-style": ["error", "always"],
    "no-console": 0,
    "import/extensions": 0,
    "import/first": 0,
    "max-len": 0,
    "global-require": 0
  },
  "globals": {
    "window": true,
    "console": true,
    "localStorage": true,
    "require": true
  },
   "settings": {
        "import/resolver": {
            "webpack": "webpack.config.js"
        }
    }
}
